# Python environment
venv/
env/
ENV/

# Environment Variables (Məxfi API Açarları)
.env

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# IDE and Editor settings
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
